Repository openstack/rally-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Path conditions:
  rally-task-barbican: any of: .zuul.d/zuul.yaml, rally-jobs/barbican.yaml, rally_openstack/common/osclients.py, rally_openstack/common/services/key_manager, rally_openstack/task/cleanup/resources.py, rally_openstack/task/scenarios/barbican, tests/ci/playbooks
  rally-task-designate: any of: .zuul.d/zuul.yaml, rally-jobs/designate.yaml, rally_openstack/common/osclients.py, rally_openstack/task/cleanup/resources.py, rally_openstack/task/contexts/designate, rally_openstack/task/scenarios/designate, tests/ci/playbooks
  rally-task-magnum: any of: .zuul.d/zuul.yaml, rally-jobs/magnum.yaml, rally_openstack/common/osclients.py, rally_openstack/task/cleanup/resources.py, rally_openstack/task/contexts/magnum, rally_openstack/task/scenarios/magnum, tests/ci/playbooks
  rally-task-neutron-trunk: (any of: .zuul.d/zuul.yaml, rally-jobs/neutron-trunk.yaml, rally_openstack/common/osclients.py, rally_openstack/task/scenarios/neutron/trunk.py, rally_openstack/task/scenarios/neutron/network.py, tests/ci/playbooks) or (any of: rally-jobs/neutron-trunk.yaml, rally_openstack/common/osclients.py, rally_openstack/task/scenarios/neutron/trunk.py, rally_openstack/task/scenarios/neutron/network.py, tests/ci/playbooks)

Fix neutron job
  .zuul.d/rally-task-neutron.yaml
  .zuul.d/zuul.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Use Block Storage API v3
  rally-jobs/cinder.yaml
Due: none

Moving IRC network reference to OFTC
  etc/motd
Due: none

Stop using removed option [scenario]/img_dir
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  rally_openstack/verification/tempest/config.ini
  rally_openstack/verification/tempest/context.py
  tests/ci/rally_verify.py
  tests/unit/verification/tempest/test_context.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Support availability_zone also for volume in VMTasks.boot_runcommand
  rally_openstack/task/scenarios/vm/vmtasks.py
Due: none

Clean up extra spaces
  samples/tasks/contexts/manila-share-networks.json
Due: none

Avoid poll_interval to be the same as HTTP Keep-Alive timeout
  rally_openstack/common/cfg/nova.py
Due: none

[docker] Update ca-certs
  CHANGELOG.rst
  Dockerfile
Due: none

Fix some CI issues
  .zuul.d/base.yaml
  .zuul.d/rally-task-barbican.yaml
  .zuul.d/rally-task-designate.yaml
  .zuul.d/rally-task-heat.yaml
  .zuul.d/rally-task-ironic.yaml
  .zuul.d/rally-task-magnum.yaml
  .zuul.d/rally-task-manila.yaml
  .zuul.d/rally-task-mistral.yaml
  .zuul.d/rally-task-murano.yaml
  .zuul.d/rally-task-neutron-with-extensions.yaml
  .zuul.d/rally-task-octavia.yaml
  .zuul.d/rally-task-telemetry.yaml
  .zuul.d/rally-task-watcher.yaml
  .zuul.d/rally-task-zaqar.yaml
  .zuul.d/rally-tox-functional.yaml
  .zuul.d/rally-verify-tempest.yaml
  devstack/lib/rally
Due: none

Fix use of keystone endpoint URL
  devstack/lib/rally
Due: none

Add sg rules with ipv6 ethertype.
  rally_openstack/task/contexts/network/allow_ssh.py
Due: none

Multiple fixes for CI
  .zuul.d/rally-task-watcher.yaml
  .zuul.d/rally-task-zaqar.yaml
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  rally-jobs/basic-with-existing-users.yaml
  rally-jobs/extra/autoscaling_group.yaml.template
  rally-jobs/extra/resource_group_server_with_volume.yaml.template
  rally-jobs/extra/server_with_ports.yaml.template
  rally-jobs/extra/server_with_volume.yaml.template
  rally-jobs/keystone-glance-swift.yaml
  rally-jobs/nova.yaml
  rally-jobs/senlin.yaml
  rally_openstack/common/services/storage/block.py
  rally_openstack/common/services/storage/cinder_common.py
  rally_openstack/common/services/storage/cinder_v1.py
  rally_openstack/task/scenarios/cinder/volume_types.py
  rally_openstack/task/scenarios/manila/utils.py
  rally_openstack/task/scenarios/nova/agents.py
  samples/tasks/scenarios/nova/list-agents.json
  samples/tasks/scenarios/nova/list-agents.yaml
  tests/unit/common/services/storage/test_cinder_common.py
  tests/unit/common/services/storage/test_cinder_v1.py
  tests/unit/task/scenarios/cinder/test_volume_types.py
  tests/unit/task/scenarios/manila/test_utils.py
  tests/unit/task/scenarios/nova/test_agents.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

[ci] run unittests at py3.9 env
  .zuul.d/zuul.yaml
  tests/ci/playbooks/roles/tox-install/tasks/main.yaml
  tests/ci/playbooks/tox-functional-env-run.yaml
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Use resolvectl, not systemd-resolve
  rally_openstack/task/scenarios/vm/vmtasks.py
Due: none

Fix exec of cloud-init at CreateShareAndAccessFromVM
  rally_openstack/task/scenarios/manila/shares.py
Due: none

fix use cinder "update_volume_type() got an unexpected keyword argument 'name' "
  .zuul.d/zuul.yaml
  rally_openstack/common/services/storage/block.py
  rally_openstack/common/services/storage/cinder_v2.py
  rally_openstack/common/services/storage/cinder_v3.py
  rally_openstack/task/scenarios/cinder/volume_types.py
  tests/unit/common/services/storage/test_cinder_v2.py
  tests/unit/common/services/storage/test_cinder_v3.py
  tests/unit/task/scenarios/cinder/test_volume_types.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Update gnocchiclient requirement
  .zuul.d/zuul.yaml
  requirements.txt
  upper-constraints.txt
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Suppress 2 warnings from Docutils
  .zuul.d/zuul.yaml
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

[ci] Fix list-os-resources role
  .zuul.d/zuul.yaml
  tests/ci/playbooks/roles/list-os-resources/library/osresources.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Update rally-task-neutron to have only ovs as mech driver
  .zuul.d/rally-task-neutron.yaml
Due: none

Bump default Cirros version
  etc/rally/rally.conf.sample
  rally-jobs/certifcation_task_args.yaml
  rally_openstack/common/cfg/tempest.py
  samples/tasks/contexts/images.json
  samples/tasks/contexts/images.yaml
  samples/tasks/contexts/profiles.json
  samples/tasks/contexts/profiles.yaml
  samples/tasks/scenarios/elasticsearch/log-instance.json
  samples/tasks/scenarios/elasticsearch/log-instance.yaml
  samples/tasks/scenarios/glance/create-and-deactivate-image.json
  samples/tasks/scenarios/glance/create-and-deactivate-image.yaml
  samples/tasks/scenarios/glance/create-and-delete-image.json
  samples/tasks/scenarios/glance/create-and-delete-image.yaml
  samples/tasks/scenarios/glance/create-and-download-image.json
  samples/tasks/scenarios/glance/create-and-download-image.yaml
  samples/tasks/scenarios/glance/create-and-get-image.json
  samples/tasks/scenarios/glance/create-and-get-image.yaml
  samples/tasks/scenarios/glance/create-and-list-image.json
  samples/tasks/scenarios/glance/create-and-list-image.yaml
  samples/tasks/scenarios/glance/create-and-update-image.json
  samples/tasks/scenarios/glance/create-and-update-image.yaml
  samples/tasks/scenarios/glance/create-image-and-boot-instances.json
  samples/tasks/scenarios/glance/create-image-and-boot-instances.yaml
  samples/tasks/scenarios/glance/list-images.json
  samples/tasks/scenarios/glance/list-images.yaml
  samples/tasks/scenarios/grafana/push-metric-from-instance.json
  samples/tasks/scenarios/grafana/push-metric-from-instance.yaml
  samples/tasks/scenarios/heat/templates/autoscaling-group.yaml.template
  samples/tasks/scenarios/heat/templates/resource-group-server-with-volume.yaml.template
  samples/tasks/scenarios/heat/templates/server-with-ports.yaml.template
  samples/tasks/scenarios/heat/templates/server-with-volume.yaml.template
  samples/tasks/scenarios/senlin/create-and-delete-profile-cluster.json
  samples/tasks/scenarios/senlin/create-and-delete-profile-cluster.yaml
  tasks/openstack/task.yaml
  tests/unit/task/contexts/nova/test_servers.py
  tests/unit/task/test_types.py
Due: none

Add new boot_server_attach_created_volume_and_extend test
  rally-jobs/nova.yaml
  rally_openstack/task/scenarios/nova/servers.py
  samples/tasks/scenarios/nova/boot-server-attach-created-volume-and-extend.json
  samples/tasks/scenarios/nova/boot-server-attach-created-volume-and-extend.yaml
  tests/unit/task/scenarios/nova/test_servers.py
Due: none

Use absolute path for rally plugin dir check
  tests/ci/playbooks/roles/prepare-for-rally-task/tasks/main.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Fix creating of Rally DB
  requirements.txt
Due: none

Update tox.ini to work with tox 4
  .zuul.d/zuul.yaml
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Ignore pytest-cover warning
  .zuul.d/zuul.yaml
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Keep CI up-to-date
  .zuul.d/zuul.yaml
  rally-jobs/basic-with-existing-users.yaml
  rally-jobs/neutron.yaml
  rally_openstack/common/services/storage/block.py
  rally_openstack/common/services/storage/cinder_common.py
  rally_openstack/task/scenarios/neutron/trunk.py
  tests/ci/playbooks/roles/list-os-resources/library/osresources.py
  tests/ci/rally_verify.py
  tests/functional/test_cli_deployment.py
  tests/functional/test_cli_task.py
  tests/functional/utils.py
  tests/hacking/README.rst
  tests/hacking/checks.py
  tests/unit/fakes.py
  tests/unit/rally_jobs/test_zuul_jobs.py
  tests/unit/test_hacking.py
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Designate DNS - fix quota names according to U/S Doc
  rally_openstack/task/contexts/quotas/designate_quotas.py
  samples/tasks/scenarios/designate/create-and-delete-recordsets.json
  samples/tasks/scenarios/designate/create-and-delete-recordsets.yaml
  samples/tasks/scenarios/designate/create-and-delete-zone.json
  samples/tasks/scenarios/designate/create-and-delete-zone.yaml
  samples/tasks/scenarios/designate/create-and-list-recordsets.json
  samples/tasks/scenarios/designate/create-and-list-recordsets.yaml
  samples/tasks/scenarios/designate/create-and-list-zones.json
  samples/tasks/scenarios/designate/create-and-list-zones.yaml
  tests/unit/task/contexts/quotas/test_designate_quotas.py
Due: none

Fix the issue of unshelving vm fail failure
  rally_openstack/task/scenarios/nova/utils.py
  tests/unit/task/scenarios/nova/test_utils.py
Due: none

Require Rally>=3.4.0
  CHANGELOG.rst
  Dockerfile
  requirements.txt
  tests/ci/rally_verify.py
  upper-constraints.txt
Due: none

Fix rally test can't update device_id
  rally_openstack/task/scenarios/neutron/trunk.py
  tests/unit/task/scenarios/neutron/test_trunk.py
Due: rally-task-neutron-trunk

Update uc file
  CHANGELOG.rst
  requirements.txt
  test-requirements.txt
  tests/ci/sync_requirements.py
  tox.ini
  upper-constraints.txt
Due: none

Correct some cases' description
  rally_openstack/task/scenarios/barbican/containers.py
  rally_openstack/task/scenarios/barbican/orders.py
  rally_openstack/task/scenarios/cinder/volume_backups.py
Due: rally-task-barbican

Bring back tempita to u-c
  upper-constraints.txt
Due: none

Release 2.3.0
  CHANGELOG.rst
  DOCKER_README.md
Due: none

Update release date for 2.3.0
  CHANGELOG.rst
Due: none

Tempory turn off all failing jobs
  .zuul.d/zuul.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Temporary skip checking task cleanup at CI
  tests/ci/playbooks/run-rally-task.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Change to use openstack instead of nova command
  .zuul.d/zuul.yaml
  tests/ci/playbooks/roles/prepare-for-rally-task/tasks/main.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk
