Repository openstack/rally-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

rally-task-barbican:
  voting: false

Add a job that allows comparing results between branches
  .zuul.d/rally-task-manila.yaml
  tests/ci/playbooks/roles/prepare-for-rally-task/defaults/main.yaml
  tests/ci/playbooks/roles/prepare-for-rally-task/tasks/main.yaml
  tests/ci/playbooks/roles/process-task-results-multiple-runs/tasks/main.yaml
  tests/ci/playbooks/roles/run-rally-task-multiple-branches/tasks/main.yaml
  tests/ci/playbooks/roles/run-rally-task-multiple-branches/tasks/start-and-check-task-result.yaml
  tests/ci/playbooks/run-rally-task-grenade-upgrade.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

Add Glance Rally task and Zuul job
  .zuul.d/rally-task-glance.yaml
  .zuul.d/rally-task-keystone-glance-swift.yaml
  .zuul.d/rally-task-keystone-swift.yaml
  .zuul.d/zuul.yaml
  rally-jobs/glance.yaml
  rally-jobs/keystone-swift.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

[ci] Rename rally_source_dir into rally_task_src_dir
  .zuul.d/README.rst
  tests/ci/playbooks/roles/prepare-for-rally-task/defaults/main.yaml
  tests/ci/playbooks/roles/prepare-for-rally-task/tasks/main.yaml
  tests/ci/playbooks/run-rally-task-grenade-upgrade.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

Add Neutron FWaaS v2 firewall rule scenarios
  .zuul.d/rally-task-fwaas.yaml
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  pyproject.toml
  rally-jobs/fwaas.yaml
  rally_openstack/task/cleanup/resources.py
  rally_openstack/task/scenarios/neutron/fwaas.py
  rally_openstack/task/scenarios/neutron/utils.py
  samples/tasks/scenarios/neutron/create-and-delete-firewall-rules.json
  samples/tasks/scenarios/neutron/create-and-delete-firewall-rules.yaml
  samples/tasks/scenarios/neutron/create-and-list-firewall-rules.json
  samples/tasks/scenarios/neutron/create-and-list-firewall-rules.yaml
  samples/tasks/scenarios/neutron/create-and-update-firewall-rules.json
  samples/tasks/scenarios/neutron/create-and-update-firewall-rules.yaml
  tests/unit/task/cleanup/test_resources.py
  tests/unit/task/scenarios/neutron/test_fwaas.py
  tests/unit/task/scenarios/neutron/test_utils.py
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

Add Neutron FWaaS v2 firewall policy scenarios
  CHANGELOG.rst
  rally-jobs/fwaas.yaml
  rally_openstack/task/cleanup/resources.py
  rally_openstack/task/scenarios/neutron/fwaas.py
  rally_openstack/task/scenarios/neutron/utils.py
  samples/tasks/scenarios/neutron/create-and-delete-firewall-policies.json
  samples/tasks/scenarios/neutron/create-and-delete-firewall-policies.yaml
  samples/tasks/scenarios/neutron/create-and-list-firewall-policies.json
  samples/tasks/scenarios/neutron/create-and-list-firewall-policies.yaml
  samples/tasks/scenarios/neutron/create-and-update-firewall-policies.json
  samples/tasks/scenarios/neutron/create-and-update-firewall-policies.yaml
  samples/tasks/scenarios/neutron/create-policy-add-and-remove-rules.json
  samples/tasks/scenarios/neutron/create-policy-add-and-remove-rules.yaml
  tests/unit/task/cleanup/test_resources.py
  tests/unit/task/scenarios/neutron/test_fwaas.py
  tests/unit/task/scenarios/neutron/test_utils.py
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

Add Neutron FWaaS v2 firewall group scenarios
  CHANGELOG.rst
  rally-jobs/fwaas.yaml
  rally_openstack/task/cleanup/resources.py
  rally_openstack/task/scenarios/neutron/fwaas.py
  rally_openstack/task/scenarios/neutron/utils.py
  samples/tasks/scenarios/neutron/create-and-delete-firewall-groups.json
  samples/tasks/scenarios/neutron/create-and-delete-firewall-groups.yaml
  samples/tasks/scenarios/neutron/create-and-list-firewall-groups.json
  samples/tasks/scenarios/neutron/create-and-list-firewall-groups.yaml
  samples/tasks/scenarios/neutron/create-and-update-firewall-groups.json
  samples/tasks/scenarios/neutron/create-and-update-firewall-groups.yaml
  tests/unit/task/cleanup/test_resources.py
  tests/unit/task/scenarios/neutron/test_fwaas.py
  tests/unit/task/scenarios/neutron/test_utils.py
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

ci: Add Rally Grenade upgrade job for Glance
  .zuul.d/base.yaml
  .zuul.d/rally-task-glance.yaml
  .zuul.d/rally-task-manila.yaml
  .zuul.d/zuul.yaml
  rally-jobs/glance.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

Fix compatibility with Rally 5.1.0
  CHANGELOG.rst
  Dockerfile
  pyproject.toml
  rally_openstack/task/types.py
  requirements.txt
  tasks/openstack/task.yaml
  tests/ci/playbooks/roles/process-task-results-multiple-runs/tasks/main.yaml
  upper-constraints.txt
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

Enable web-download import method for Glance Rally tests
  .zuul.d/rally-task-glance.yaml
Due: none

Start adopting rally 5.1 features
  CHANGELOG.rst
  Dockerfile
  pyproject.toml
  rally_openstack/common/services/image/image.py
  rally_openstack/common/services/storage/block.py
  rally_openstack/common/services/storage/cinder_common.py
  rally_openstack/common/validators.py
  rally_openstack/task/contexts/nova/servers.py
  rally_openstack/task/contexts/vm/custom_image.py
  rally_openstack/task/contexts/watcher/audit_templates.py
  rally_openstack/task/scenario.py
  rally_openstack/task/scenarios/cinder/utils.py
  rally_openstack/task/scenarios/cinder/volumes.py
  rally_openstack/task/scenarios/elasticsearch/logging.py
  rally_openstack/task/scenarios/glance/images.py
  rally_openstack/task/scenarios/grafana/metrics.py
  rally_openstack/task/scenarios/heat/stacks.py
  rally_openstack/task/scenarios/manila/shares.py
  rally_openstack/task/scenarios/manila/utils.py
  rally_openstack/task/scenarios/mistral/executions.py
  rally_openstack/task/scenarios/mistral/workbooks.py
  rally_openstack/task/scenarios/neutron/bgpvpn.py
  rally_openstack/task/scenarios/neutron/trunk.py
  rally_openstack/task/scenarios/nova/aggregates.py
  rally_openstack/task/scenarios/nova/keypairs.py
  rally_openstack/task/scenarios/nova/servers.py
  rally_openstack/task/scenarios/vm/vmtasks.py
  rally_openstack/task/scenarios/watcher/basic.py
  rally_openstack/task/types.py
  requirements.txt
  tests/unit/common/services/storage/test_block.py
  tests/unit/common/test_validators.py
  tests/unit/task/contexts/vm/test_custom_image.py
  tests/unit/task/test_types.py
  upper-constraints.txt
Due: rally-task-neutron-trunk

[ci] Restrict worklaods with allowed failure rate 100%
  rally-jobs/glance.yaml
  rally-jobs/self-rally.yaml
  tests/unit/rally_jobs/test_jobs.py
  tox.ini
Due: none

[ci] Fix glance grenade job
  .zuul.d/base.yaml
Due: none

tox: Drop redundant passenv
  tox.ini
Due: none

Drop warning filter for legacy EngineFacade
  tox.ini
Due: none

Drop warning filter related to pkg_resources
  tox.ini
Due: none

Remove warning filter for oslo.db < 14.0.0
  tox.ini
Due: none

Remove warning filter for imp module
  tox.ini
Due: none

Update job definition to reflect separate ceilometer plugin
  .zuul.d/rally-task-barbican.yaml
  .zuul.d/rally-task-fwaas.yaml
  .zuul.d/rally-task-heat.yaml
  .zuul.d/rally-task-ironic.yaml
  .zuul.d/rally-task-magnum.yaml
  .zuul.d/rally-task-manila.yaml
  .zuul.d/rally-task-mistral.yaml
  .zuul.d/rally-task-neutron-with-extensions.yaml
  .zuul.d/rally-task-neutron.yaml
  .zuul.d/rally-task-telemetry.yaml
  .zuul.d/rally-task-watcher.yaml
Due: none

Fix type hints for resource types
  CHANGELOG.rst
  rally_openstack/task/types.py
  requirements.txt
  tests/unit/task/test_types.py
Due: none

Remove unused file
  etc/motd
Due: none

Drop warning filter for dnspython < 2.0.0
  tox.ini
Due: none

Remove leoftovers of monasca support
  pyproject.toml
Due: none

Extend irrelevant files for functional tests
  .zuul.d/zuul.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

[tests] Stop relying on global mock for time sleep
  tests/unit/common/services/storage/test_cinder_v1.py
  tests/unit/common/services/storage/test_cinder_v2.py
  tests/unit/common/services/storage/test_cinder_v3.py
  tests/unit/task/scenarios/cinder/test_volumes.py
  tests/unit/task/scenarios/heat/test_utils.py
  tests/unit/task/scenarios/ironic/test_utils.py
  tests/unit/task/scenarios/magnum/test_utils.py
  tests/unit/task/scenarios/manila/test_utils.py
  tests/unit/task/scenarios/nova/test_servers.py
  tests/unit/task/scenarios/nova/test_utils.py
  tests/unit/test.py
Due: none

Path conditions:
  rally-task-barbican: any of: .zuul.d/zuul.yaml, rally-jobs/barbican.yaml, rally_openstack/common/osclients.py, rally_openstack/common/services/key_manager, rally_openstack/task/cleanup/resources.py, rally_openstack/task/scenarios/barbican, tests/ci/playbooks
  rally-task-designate: any of: .zuul.d/zuul.yaml, rally-jobs/designate.yaml, rally_openstack/common/osclients.py, rally_openstack/task/cleanup/resources.py, rally_openstack/task/contexts/designate, rally_openstack/task/scenarios/designate, tests/ci/playbooks
  rally-task-neutron-trunk: (any of: .zuul.d/zuul.yaml, rally-jobs/neutron-trunk.yaml, rally_openstack/common/osclients.py, rally_openstack/common/services/network, rally_openstack/task/cleanup/resources.py, rally_openstack/task/contexts/network, rally_openstack/task/scenarios/neutron/trunk.py, rally_openstack/task/scenarios/neutron/network.py, tests/ci/playbooks) or (any of: rally-jobs/neutron-trunk.yaml, rally_openstack/common/osclients.py, rally_openstack/common/services/network, rally_openstack/task/cleanup/resources.py, rally_openstack/task/contexts/network, rally_openstack/task/scenarios/neutron/trunk.py, rally_openstack/task/scenarios/neutron/network.py, tests/ci/playbooks)
