Repository openstack/rally-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Path conditions:
  rally-task-barbican: any of: .zuul.d/zuul.yaml, rally-jobs/barbican.yaml, rally_openstack/common/osclients.py, rally_openstack/common/services/key_manager, rally_openstack/task/cleanup/resources.py, rally_openstack/task/scenarios/barbican, tests/ci/playbooks
  rally-task-designate: any of: .zuul.d/zuul.yaml, rally-jobs/designate.yaml, rally_openstack/common/osclients.py, rally_openstack/task/cleanup/resources.py, rally_openstack/task/contexts/designate, rally_openstack/task/scenarios/designate, tests/ci/playbooks
  rally-task-magnum: any of: .zuul.d/zuul.yaml, rally-jobs/magnum.yaml, rally_openstack/common/osclients.py, rally_openstack/task/cleanup/resources.py, rally_openstack/task/contexts/magnum, rally_openstack/task/scenarios/magnum, tests/ci/playbooks
  rally-task-neutron-trunk: (any of: .zuul.d/zuul.yaml, rally-jobs/neutron-trunk.yaml, rally_openstack/common/osclients.py, rally_openstack/task/scenarios/neutron/trunk.py, rally_openstack/task/scenarios/neutron/network.py, tests/ci/playbooks) or (any of: rally-jobs/neutron-trunk.yaml, rally_openstack/common/osclients.py, rally_openstack/task/scenarios/neutron/trunk.py, rally_openstack/task/scenarios/neutron/network.py, tests/ci/playbooks)

Extend network and existing_network contexts to save subnets
  CHANGELOG.rst
  rally_openstack/common/wrappers/network.py
  rally_openstack/task/contexts/network/existing_network.py
  rally_openstack/task/contexts/network/networks.py
  tests/unit/task/contexts/network/test_existing_network.py
  tests/unit/task/contexts/network/test_network.py
Due: none

Remove usage of get_credentials_for method
  rally_openstack/verification/tempest/config.py
  rally_openstack/verification/tempest/context.py
  rally_openstack/verification/tempest/manager.py
  tests/ci/rally_verify.py
  tests/functional/test_task_samples.py
  tests/unit/fakes.py
  tests/unit/verification/tempest/test_config.py
  tests/unit/verification/tempest/test_context.py
  tests/unit/verification/tempest/test_manager.py
  tox.ini
Due: none

[ci] Temporary copy-paste docker jobs content from rally
  .zuul.d/docker-jobs.yaml
  tests/ci/playbooks/docker-build-and-check.yaml
  tests/ci/playbooks/docker-build-check-and-push.yaml
  tests/ci/playbooks/fetch-html-and-json-reports.yaml
  tests/ci/playbooks/roles/docker-build-image/defaults/main.yaml
  tests/ci/playbooks/roles/docker-build-image/tasks/main.yaml
  tests/ci/playbooks/roles/docker-push-image/defaults/main.yaml
  tests/ci/playbooks/roles/docker-push-image/tasks/main.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

test designate resolving from VM
  CHANGELOG.rst
  rally_openstack/common/validators.py
  rally_openstack/task/cleanup/resources.py
  rally_openstack/task/contexts/designate/zones.py
  rally_openstack/task/scenarios/designate/utils.py
  rally_openstack/task/scenarios/vm/vmtasks.py
  samples/tasks/scenarios/vm/check-designate-dns-resolving.json
  samples/tasks/scenarios/vm/check-designate-dns-resolving.yaml
  tests/unit/common/test_validators.py
  tests/unit/task/contexts/designate/test_zones.py
  tests/unit/task/scenarios/vm/test_vmtasks.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum

Fix Keystone.fetch_token method
  rally-jobs/keystone-glance-swift.yaml
  rally_openstack/common/services/identity/keystone_common.py
  tests/unit/common/services/identity/test_keystone_common.py
Due: none

[docker] Ensure that we have all required system packages installed
  .dockerignore
  Dockerfile
  bindep.txt
Due: none

Cleanup py27 support
  setup.cfg
  setup.py
  tox.ini
Due: none

Introduce NeutronService helper
  rally_openstack/common/services/network/__init__.py
  rally_openstack/common/services/network/net_utils.py
  rally_openstack/common/services/network/neutron.py
  rally_openstack/common/wrappers/network.py
  rally_openstack/task/cleanup/resources.py
  rally_openstack/task/scenarios/neutron/utils.py
  rally_openstack/task/scenarios/nova/utils.py
  tests/unit/common/services/network/__init__.py
  tests/unit/common/services/network/test_net_utils.py
  tests/unit/common/services/network/test_neutron.py
  tests/unit/common/wrappers/test_network.py
  tests/unit/task/cleanup/test_resources.py
  tests/unit/task/scenarios/neutron/test_utils.py
  tests/unit/task/scenarios/nova/test_utils.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum

Get rid of several test dependencies
  test-requirements.txt
  tests/unit/task/scenarios/ceilometer/test_utils.py
  tests/unit/test.py
Due: none

[ci] Turn on validation of plugins docstings
  rally_openstack/environment/platforms/existing.py
  rally_openstack/task/scenarios/neutron/network.py
  rally_openstack/task/scenarios/vm/vmtasks.py
  test-requirements.txt
  tests/unit/doc/test_docstrings.py
Due: rally-task-neutron-trunk

Update requirements
  CHANGELOG.rst
  Dockerfile
  requirements.txt
  test-requirements.txt
  upper-constraints.txt
Due: none

Fix pushing image to dockerhub on releases
  tests/ci/playbooks/roles/docker-push-image/defaults/main.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Propose rally-openstack 2.0.0 release
  CHANGELOG.rst
  DOCKER_README.md
Due: none

Fix all errors introduced by new flake8 release
  rally_openstack/task/scenarios/manila/shares.py
  rally_openstack/task/scenarios/vm/vmtasks.py
  tox.ini
Due: none

Raise osc-lib upper constraint to 2.1.0
  upper-constraints.txt
Due: none

Make config parser case sensitivity in rally-openstack
  CHANGELOG.rst
  rally_openstack/verification/tempest/config.py
  rally_openstack/verification/tempest/context.py
  tests/functional/utils.py
Due: none

[ci] Install tox for tox-functional job
  .zuul.d/rally-tox-functional.yaml
  tests/ci/playbooks/roles/tox-run/tasks/main.yaml
  tests/ci/playbooks/tox-functional-env-run.yaml
  tests/ci/playbooks/tox-install.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Remove ujson from upper-constraints
  upper-constraints.txt
Due: none

[docker] Fix location of rally-openstack code
  CHANGELOG.rst
  Dockerfile
Due: none

Fix heat stacks with ports
  samples/tasks/scenarios/heat/templates/autoscaling-group.yaml.template
  samples/tasks/scenarios/heat/templates/server-with-volume.yaml.template
Due: none

Replace "Member" with "member"
  etc/rally/rally.conf.sample
  rally_openstack/common/cfg/tempest.py
  samples/tasks/scenarios/cinder/create-and-list-volume-backups.json
  samples/tasks/scenarios/cinder/create-and-list-volume-backups.yaml
  samples/tasks/scenarios/cinder/create-and-restore-volume-backup.json
  samples/tasks/scenarios/cinder/create-and-restore-volume-backup.yaml
  samples/tasks/scenarios/cinder/create-volume-backup.json
  samples/tasks/scenarios/cinder/create-volume-backup.yaml
Due: none

Use NeutronService helper instead of network wrapper
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  rally-jobs/basic-with-existing-users.yaml
  rally-jobs/neutron.yaml
  rally-jobs/rally-mos.yaml
  rally_openstack/common/osclients.py
  rally_openstack/common/services/network/neutron.py
  rally_openstack/common/wrappers/network.py
  rally_openstack/task/contexts/keystone/users.py
  rally_openstack/task/contexts/network/allow_ssh.py
  rally_openstack/task/contexts/network/networks.py
  rally_openstack/task/scenarios/neutron/network.py
  rally_openstack/task/scenarios/neutron/utils.py
  rally_openstack/task/scenarios/nova/servers.py
  rally_openstack/task/scenarios/vm/utils.py
  rally_openstack/verification/tempest/context.py
  samples/tasks/scenarios/neutron/create-and-update-networks.json
  samples/tasks/scenarios/neutron/create-and-update-networks.yaml
  samples/tasks/scenarios/neutron/create-and-update-ports.json
  samples/tasks/scenarios/neutron/create-and-update-ports.yaml
  samples/tasks/scenarios/neutron/create-and-update-routers.json
  samples/tasks/scenarios/neutron/create-and-update-routers.yaml
  samples/tasks/scenarios/neutron/create-and-update-subnets.json
  samples/tasks/scenarios/neutron/create-and-update-subnets.yaml
  tasks/openstack/scenario/neutron.yaml
  tests/ci/cover.sh
  tests/unit/common/wrappers/test_network.py
  tests/unit/task/contexts/keystone/test_users.py
  tests/unit/task/contexts/network/test_allow_ssh.py
  tests/unit/task/contexts/network/test_network.py
  tests/unit/task/scenarios/neutron/test_network.py
  tests/unit/task/scenarios/neutron/test_utils.py
  tests/unit/task/scenarios/nova/test_servers.py
  tests/unit/task/scenarios/vm/test_utils.py
  tests/unit/verification/tempest/test_context.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Fix for KeyError during config preparation
  rally_openstack/verification/tempest/context.py
Due: none

Add simple test that verifies that os plugins are loaded
  .zuul.d/zuul.yaml
  requirements.txt
  test-requirements.txt
  tests/ci/sync_requirements.py
  tests/unit/test_plugins.py
  tox.ini
  upper-constraints.txt
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Fix nova scenarios for assiciating fips
  rally_openstack/task/scenarios/nova/servers.py
  samples/tasks/scenarios/nova/boot-and-associate-floating-ip.json
  samples/tasks/scenarios/nova/boot-and-associate-floating-ip.yaml
  samples/tasks/scenarios/nova/boot-server-associate-and-dissociate-floating-ip.json
  samples/tasks/scenarios/nova/boot-server-associate-and-dissociate-floating-ip.yaml
  tests/ci/cover.sh
  tests/unit/task/scenarios/nova/test_servers.py
Due: none

[ci] Remove custom features.yaml
  devstack/features.yaml
Due: none

Fix filedescriptor issue with VMTasks scenario.
  rally_openstack/task/scenarios/vm/utils.py
Due: none

Designate plugin fixes
  CHANGELOG.rst
  rally-jobs/designate.yaml
  rally_openstack/common/osclients.py
  rally_openstack/task/contexts/quotas/designate_quotas.py
  rally_openstack/task/scenarios/designate/basic.py
  rally_openstack/task/scenarios/designate/utils.py
  samples/tasks/scenarios/designate/create-and-delete-domain.json
  samples/tasks/scenarios/designate/create-and-delete-domain.yaml
  samples/tasks/scenarios/designate/create-and-delete-records.json
  samples/tasks/scenarios/designate/create-and-delete-records.yaml
  samples/tasks/scenarios/designate/create-and-delete-recordsets.json
  samples/tasks/scenarios/designate/create-and-delete-recordsets.yaml
  samples/tasks/scenarios/designate/create-and-delete-server.json
  samples/tasks/scenarios/designate/create-and-delete-server.yaml
  samples/tasks/scenarios/designate/create-and-delete-zone.json
  samples/tasks/scenarios/designate/create-and-delete-zone.yaml
  samples/tasks/scenarios/designate/create-and-list-domain.json
  samples/tasks/scenarios/designate/create-and-list-domain.yaml
  samples/tasks/scenarios/designate/create-and-list-records.json
  samples/tasks/scenarios/designate/create-and-list-records.yaml
  samples/tasks/scenarios/designate/create-and-list-recordsets.json
  samples/tasks/scenarios/designate/create-and-list-recordsets.yaml
  samples/tasks/scenarios/designate/create-and-list-servers.json
  samples/tasks/scenarios/designate/create-and-list-servers.yaml
  samples/tasks/scenarios/designate/create-and-list-zones.json
  samples/tasks/scenarios/designate/create-and-list-zones.yaml
  samples/tasks/scenarios/designate/create-and-update-domain.json
  samples/tasks/scenarios/designate/create-and-update-domain.yaml
  samples/tasks/scenarios/designate/list-domains.json
  samples/tasks/scenarios/designate/list-domains.yaml
  samples/tasks/scenarios/designate/list-records.json
  samples/tasks/scenarios/designate/list-records.yaml
  samples/tasks/scenarios/designate/list-servers.json
  samples/tasks/scenarios/designate/list-servers.yaml
  tests/unit/common/test_osclients.py
  tests/unit/task/contexts/quotas/test_designate_quotas.py
  tests/unit/task/scenarios/designate/test_basic.py
  tests/unit/task/scenarios/designate/test_utils.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Extend api_info section of env spec with pre_mitaka neutron cfg
  CHANGELOG.rst
  etc/rally/rally.conf.sample
  rally_openstack/common/cfg/neutron.py
  rally_openstack/common/services/network/neutron.py
  rally_openstack/environment/platforms/existing.py
  tests/unit/common/services/network/test_neutron.py
  tests/unit/task/scenarios/neutron/test_network.py
  tests/unit/task/scenarios/neutron/test_utils.py
  tests/unit/task/scenarios/nova/test_servers.py
  tests/unit/task/scenarios/vm/test_utils.py
Due: none

Fix an erroneous grammar in the document
  samples/tasks/support/README.rst
Due: none

Fix used python versions for CI
  .zuul.d/docker-jobs.yaml
  tox.ini
Due: none

Replace assertItemsEqual with assertCountEqual
  tests/unit/task/scenarios/authenticate/test_authenticate.py
Due: none

Update requirements
  Dockerfile
  requirements.txt
  upper-constraints.txt
Due: none

Prepare for 2.1.0 release
  CHANGELOG.rst
  DOCKER_README.md
Due: none

Remove __unicode__() from RallyCliError
  tests/functional/utils.py
Due: none

[ci] Unblock CI
  .zuul.d/rally-tox-functional.yaml
  tests/ci/playbooks/roles/list-os-resources/library/osresources.py
  tests/ci/playbooks/roles/tox-install/tasks/main.yaml
  tests/ci/playbooks/tox-functional-env-run.yaml
  tests/ci/playbooks/tox-install.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

add argument create_floating_ip_args for running server / vm tests with specified subnet
  rally_openstack/task/scenarios/nova/servers.py
  rally_openstack/task/scenarios/vm/utils.py
  rally_openstack/task/scenarios/vm/vmtasks.py
Due: none

Make force_delete configurable in task CreateAndAttachVolume
  rally_openstack/task/scenarios/cinder/volumes.py
  tests/unit/task/scenarios/cinder/test_volumes.py
Due: none

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: none

[community goal] Update contributor documentation
  CONTRIBUTING.rst
Due: none
