Repository openstack/rally-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

rally-task-barbican:
  voting: false

Address mypy issue
  rally_openstack/task/scenarios/vm/vmtasks.py
  tests/unit/task/scenarios/vm/test_vmtasks.py
Due: none

Add project badge
  README.rst
Due: none

python 3.14: fix AST attribute access
  tests/unit/test_mock.py
Due: none

Set public network which can be access by all tenants
  rally_openstack/verification/tempest/config.py
  tests/unit/verification/tempest/test_config.py
Due: none

[ci] Update docker hub pat
  .zuul.d/docker-jobs.yaml
Due: none

tox: Fix outdated default envlist
  tox.ini
Due: none

Add Python 3.13 test
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  pyproject.toml
  rally_openstack/environment/platforms/existing.py
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

Guard compute resource setup behind nova service
  CHANGELOG.rst
  rally_openstack/verification/tempest/context.py
  tests/unit/verification/tempest/test_context.py
Due: none

Fix cleanup failure when neutron is unavailable
  CHANGELOG.rst
  rally_openstack/task/contexts/keystone/users.py
  tests/unit/task/contexts/keystone/test_users.py
Due: none

Fix tempest config error when nova is unavailable
  CHANGELOG.rst
  rally_openstack/verification/tempest/config.py
  tests/unit/verification/tempest/test_config.py
Due: none

tox: Remove redundant environment variables
  tox.ini
Due: none

Fix neutron cleanup order to delete routers before networks
  rally_openstack/task/cleanup/resources.py
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

Replace OVN Metadata agent with OVN agent
  .zuul.d/rally-task-neutron.yaml
Due: none

Ensure tox is available before trying to use it
  tests/ci/playbooks/tox-functional-env-run.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

Address mypy issues
  rally_openstack/task/contexts/dataplane/heat.py
  rally_openstack/task/scenarios/vm/utils.py
Due: none

Fix manila default service type
  rally_openstack/common/consts.py
  rally_openstack/common/osclients.py
  tests/unit/common/test_osclients.py
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

Bump ujson version for Python 3.14
  upper-constraints.txt
Due: none

refectoring: refectoring docstring
  rally_openstack/common/services/key_manager/barbican.py
  rally_openstack/common/services/loadbalancer/octavia.py
  rally_openstack/common/services/network/neutron.py
  rally_openstack/common/services/storage/cinder_common.py
  rally_openstack/common/services/storage/cinder_v1.py
  rally_openstack/common/wrappers/network.py
  rally_openstack/task/scenarios/keystone/basic.py
  rally_openstack/task/scenarios/mistral/utils.py
  rally_openstack/task/scenarios/neutron/trunk.py
  rally_openstack/task/scenarios/neutron/utils.py
  rally_openstack/task/scenarios/nova/servers.py
  rally_openstack/task/scenarios/nova/utils.py
  rally_openstack/task/scenarios/zaqar/basic.py
Due: rally-task-barbican, rally-task-neutron-trunk

Add import and delete scenario for glance
  CHANGELOG.rst
  rally-jobs/keystone-glance-swift.yaml
  rally_openstack/common/cfg/glance.py
  rally_openstack/common/services/image/glance_v1.py
  rally_openstack/common/services/image/glance_v2.py
  rally_openstack/common/services/image/image.py
  rally_openstack/task/scenarios/glance/images.py
  samples/tasks/scenarios/glance/import-and-delete-image-minimal.json
  samples/tasks/scenarios/glance/import-and-delete-image-minimal.yaml
  samples/tasks/scenarios/glance/import-and-delete-image-web-download.json
  samples/tasks/scenarios/glance/import-and-delete-image-web-download.yaml
  samples/tasks/scenarios/glance/import-and-delete-image.json
  samples/tasks/scenarios/glance/import-and-delete-image.yaml
  tests/unit/common/services/image/test_glance_v1.py
  tests/unit/common/services/image/test_glance_v2.py
  tests/unit/common/services/image/test_image.py
  tests/unit/task/scenarios/glance/test_images.py
Due: none

Fix flaky test
  tests/unit/task/contexts/magnum/test_ca_certs.py
Due: none

Fix live migration host check race under load
  rally_openstack/task/scenarios/nova/utils.py
  tests/unit/task/scenarios/nova/test_utils.py
  tests/unit/test.py
Due: none

Get back pbr
  CHANGELOG.rst
  pyproject.toml
  rally_openstack/__init__.py
  requirements.txt
  setup.cfg
  setup.py
Due: none

Update uc file
  rally_openstack/task/scenario.py
  requirements.txt
  test-requirements.txt
  tests/unit/task/test_scenario.py
  tox.ini
  upper-constraints.txt
Due: none

Prepare for 3.1.0 release
  CHANGELOG.rst
  DOCKER_README.md
Due: none

Rename 3.1.0 release to 4.0.0
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  DOCKER_README.md
  tests/unit/rally_jobs/test_zuul_jobs.py
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

[ci] Allow to run rally-verify-tempest outside
  tests/ci/playbooks/post-rally-verify.yaml
  tests/ci/playbooks/run-rally-verify.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

[ci] Allow reusing task files from rally-openstack project
  .zuul.d/README.rst
  tests/ci/playbooks/roles/prepare-for-rally-task/tasks/main.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

[ci] Relax SLA for cinder volume workloads
  rally-jobs/cinder.yaml
  rally-jobs/nova.yaml
Due: none

[ci] Rotate dockerhub creds
  .zuul.d/docker-jobs.yaml
Due: none

[ci] Enable ansible-split-streams for rally-task-at-devstack
  .zuul.d/base.yaml
  CHANGELOG.rst
Due: none

Fix support for cinder microversions
  CHANGELOG.rst
  rally_openstack/common/services/storage/block.py
  rally_openstack/common/services/storage/cinder_common.py
  tests/unit/common/services/storage/test_block.py
  tests/unit/common/services/storage/test_cinder_common.py
Due: none

Replace deprecated datetime.datetime.utcnow
  rally_openstack/task/scenarios/barbican/secrets.py
Due: rally-task-barbican

Update changelog entry to include bug report
  CHANGELOG.rst
Due: none

Propose 4.1.0 release
  CHANGELOG.rst
  DOCKER_README.md
Due: none

[ci] Fix docker-push-image role and zuul-ansible-lint tox env
  tests/ci/ansible-lint-stubs/README.rst
  tests/ci/ansible-lint-stubs/synchronize.py
  tests/ci/ansible-lint-stubs/zuul_return.py
  tests/ci/playbooks/.ansible-lint
  tests/ci/playbooks/roles/docker-push-image/tasks/main.yaml
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-neutron-trunk

Update release date for 4.1.0
  CHANGELOG.rst
Due: none

[docs] Remove last refs to task v1 format
  rally_openstack/task/contexts/api_versions.py
  rally_openstack/task/contexts/manila/manila_share_networks.py
  samples/tasks/README.rst
Due: none

Fix load balancer deletion race condition during create/update task
  rally_openstack/task/scenarios/octavia/loadbalancers.py
Due: none

Path conditions:
  rally-task-barbican: any of: .zuul.d/zuul.yaml, rally-jobs/barbican.yaml, rally_openstack/common/osclients.py, rally_openstack/common/services/key_manager, rally_openstack/task/cleanup/resources.py, rally_openstack/task/scenarios/barbican, tests/ci/playbooks
  rally-task-designate: any of: .zuul.d/zuul.yaml, rally-jobs/designate.yaml, rally_openstack/common/osclients.py, rally_openstack/task/cleanup/resources.py, rally_openstack/task/contexts/designate, rally_openstack/task/scenarios/designate, tests/ci/playbooks
  rally-task-neutron-trunk: (any of: .zuul.d/zuul.yaml, rally-jobs/neutron-trunk.yaml, rally_openstack/common/osclients.py, rally_openstack/common/services/network, rally_openstack/task/cleanup/resources.py, rally_openstack/task/contexts/network, rally_openstack/task/scenarios/neutron/trunk.py, rally_openstack/task/scenarios/neutron/network.py, tests/ci/playbooks) or (any of: rally-jobs/neutron-trunk.yaml, rally_openstack/common/osclients.py, rally_openstack/common/services/network, rally_openstack/task/cleanup/resources.py, rally_openstack/task/contexts/network, rally_openstack/task/scenarios/neutron/trunk.py, rally_openstack/task/scenarios/neutron/network.py, tests/ci/playbooks)
