Repository openstack/rally-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Path conditions:
  rally-task-barbican: any of: .zuul.d/zuul.yaml, rally-jobs/barbican.yaml, rally_openstack/common/osclients.py, rally_openstack/common/services/key_manager, rally_openstack/task/cleanup/resources.py, rally_openstack/task/scenarios/barbican, tests/ci/playbooks
  rally-task-designate: any of: .zuul.d/zuul.yaml, rally-jobs/designate.yaml, rally_openstack/common/osclients.py, rally_openstack/task/cleanup/resources.py, rally_openstack/task/contexts/designate, rally_openstack/task/scenarios/designate, tests/ci/playbooks
  rally-task-magnum: any of: .zuul.d/zuul.yaml, rally-jobs/magnum.yaml, rally_openstack/common/osclients.py, rally_openstack/task/cleanup/resources.py, rally_openstack/task/contexts/magnum, rally_openstack/task/scenarios/magnum, tests/ci/playbooks
  rally-task-neutron-trunk: (any of: .zuul.d/zuul.yaml, rally-jobs/neutron-trunk.yaml, rally_openstack/common/osclients.py, rally_openstack/task/scenarios/neutron/trunk.py, rally_openstack/task/scenarios/neutron/network.py, tests/ci/playbooks) or (any of: rally-jobs/neutron-trunk.yaml, rally_openstack/common/osclients.py, rally_openstack/task/scenarios/neutron/trunk.py, rally_openstack/task/scenarios/neutron/network.py, tests/ci/playbooks)

Re-enable rally-verify-tempest
  .zuul.d/zuul.yaml
  tests/ci/playbooks/run-rally-verify.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Fix and re-enable function tox job
  .zuul.d/zuul.yaml
  tests/ci/playbooks/roles/tox-run/tasks/main.yaml
  tests/ci/playbooks/tox-functional-env-run.yaml
  tests/functional/utils.py
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

[ci] Temporary turn off rally-verify-tempest job
  .zuul.d/zuul.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Drop support of py36 and py37
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  setup.cfg
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Set "existing_users" context for manila rally test
  CHANGELOG.rst
  rally_openstack/task/contexts/keystone/users.py
Due: none

Re-enable rally-verify-tempest job
  .zuul.d/zuul.yaml
  rally_openstack/verification/tempest/manager.py
  tests/ci/cover.sh
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Use proper cover job config
  tests/ci/cover.sh
Due: none

Turn on mistral ci job
  .zuul.d/zuul.yaml
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Fix processing 'confirm' argument of NovaServers.resize_server scenario
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  rally-jobs/nova.yaml
  rally_openstack/task/scenarios/nova/servers.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Small improvements for Neutron Port and Nova Server cleanup
  CHANGELOG.rst
  rally_openstack/task/cleanup/resources.py
  tests/unit/task/cleanup/test_resources.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum

Add support for cinder api microversions
  CHANGELOG.rst
  rally-jobs/nova.yaml
  rally_openstack/common/osclients.py
  samples/tasks/contexts/api-versions.json
  samples/tasks/contexts/api-versions.yaml
  tests/unit/common/test_osclients.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Fix pep8 failures due to new hacking rules
  rally_openstack/task/scenarios/vm/utils.py
  tests/unit/task/scenarios/neutron/test_utils.py
Due: none

[ci] Include pytest html reports for functional job
  .zuul.d/base.yaml
  .zuul.d/docker-jobs.yaml
  .zuul.d/rally-tox-functional.yaml
  tests/ci/playbooks/fetch-html-and-json-reports.yaml
  tests/ci/playbooks/roles/prepare-for-rally-task/tasks/main.yaml
  tests/ci/playbooks/tox-functional-env-run.yaml
  tests/ci/pytest_launcher.py
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Test python 3.11
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  setup.cfg
  tests/unit/task/scenarios/nova/test_utils.py
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

use-rally-4-0-0
  CHANGELOG.rst
  Dockerfile
  upper-constraints.txt
Due: none

Add nova_servers_list_page_size config option
  CHANGELOG.rst
  rally_openstack/common/cfg/nova.py
  rally_openstack/task/cleanup/resources.py
  rally_openstack/task/scenarios/nova/utils.py
  tests/unit/task/cleanup/test_resources.py
  tests/unit/task/scenarios/nova/test_utils.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum

Update u-c file
  test-requirements.txt
  tests/unit/test.py
  tox.ini
  upper-constraints.txt
Due: none

Fix heat template validation when multi users
  CHANGELOG.rst
  rally_openstack/common/validators.py
Due: none

refectoring: remove duplicated key
  rally_openstack/common/services/storage/cinder_v2.py
  rally_openstack/common/services/storage/cinder_v3.py
Due: none

refectoring: Eliminate repetitive code
  rally_openstack/common/services/gnocchi/metric.py
  rally_openstack/common/services/image/glance_v2.py
  rally_openstack/task/scenarios/senlin/utils.py
  tests/unit/common/services/gnocchi/test_metric.py
  tests/unit/task/scenarios/manila/test_shares.py
Due: none

Multiple project updates
  .zuul.d/rally-task-murano.yaml
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  Dockerfile
  requirements.txt
  test-requirements.txt
  tests/functional/test_cli_deployment.py
  tests/unit/doc/test_format.py
  tests/unit/rally_jobs/test_zuul_jobs.py
  tests/unit/test.py
  upper-constraints.txt
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Release 3.0.0
  CHANGELOG.rst
  DOCKER_README.md
Due: none

Python 3.14: do not use deprecated ast.Str
  tests/unit/test_mock.py
Due: none

Support create_volume_kwargs for relevant scenarios
  rally_openstack/task/scenarios/nova/servers.py
Due: none

Set image_alt_ssh_user to cirros
  rally_openstack/verification/tempest/config.ini
Due: none

Fix Cinder service type
  rally_openstack/common/consts.py
Due: none

Remove explicit cinder v3 endpoint test
  rally-jobs/cinder.yaml
  tox.ini
Due: none

[ci] Generate a real raw and qcow2 image sfor tests
  rally-jobs/cinder.yaml
  rally-jobs/keystone-glance-swift.yaml
  rally-jobs/neutron-trunk.yaml
  tests/ci/playbooks/.ansible-lint
  tests/ci/playbooks/fetch-html-and-json-reports.yaml
  tests/ci/playbooks/post-rally-verify.yaml
  tests/ci/playbooks/roles/check-task-sla/tasks/main.yaml
  tests/ci/playbooks/roles/docker-build-image/defaults/main.yaml
  tests/ci/playbooks/roles/docker-build-image/tasks/main.yaml
  tests/ci/playbooks/roles/fetch-rally-task-results/tasks/main.yaml
  tests/ci/playbooks/roles/import-task-results/tasks/main.yaml
  tests/ci/playbooks/roles/list-os-resources/defaults/main.yaml
  tests/ci/playbooks/roles/list-os-resources/tasks/list_and_compare_resources.yaml
  tests/ci/playbooks/roles/list-os-resources/tasks/list_resources.yaml
  tests/ci/playbooks/roles/list-os-resources/tasks/main.yaml
  tests/ci/playbooks/roles/prepare-for-rally-task/defaults/main.yaml
  tests/ci/playbooks/roles/prepare-for-rally-task/tasks/create_dummy_image.yaml
  tests/ci/playbooks/roles/prepare-for-rally-task/tasks/main.yaml
  tests/ci/playbooks/roles/prepare-for-rally-task/tasks/prepare-env-with-existing-users.yaml
  tests/ci/playbooks/roles/process-task-results/tasks/main.yaml
  tests/ci/playbooks/roles/run-rally-task/tasks/main.yaml
  tests/ci/playbooks/run-rally-task.yaml
  tests/ci/playbooks/run-rally-verify.yaml
  tests/ci/playbooks/tox-functional-env-run.yaml
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Revert "Fix Cinder service type"
  rally_openstack/common/consts.py
Due: none

Drop support for python 3.8 as EOL
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  setup.cfg
  tox.ini
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Remove Senlin
  .zuul.d/rally-task-senlin.yaml
  CHANGELOG.rst
  etc/rally/rally.conf.sample
  rally-jobs/senlin.yaml
  rally_openstack/common/cfg/opts.py
  rally_openstack/common/cfg/senlin.py
  rally_openstack/common/consts.py
  rally_openstack/common/osclients.py
  rally_openstack/task/cleanup/resources.py
  rally_openstack/task/contexts/senlin/__init__.py
  rally_openstack/task/contexts/senlin/profiles.py
  rally_openstack/task/scenarios/senlin/__init__.py
  rally_openstack/task/scenarios/senlin/clusters.py
  rally_openstack/task/scenarios/senlin/utils.py
  rally_openstack/verification/tempest/consts.py
  requirements.txt
  samples/tasks/contexts/profiles.json
  samples/tasks/contexts/profiles.yaml
  samples/tasks/scenarios/senlin/create-and-delete-profile-cluster.json
  samples/tasks/scenarios/senlin/create-and-delete-profile-cluster.yaml
  tests/ci/playbooks/roles/list-os-resources/library/osresources.py
  tests/unit/common/test_osclients.py
  tests/unit/fakes.py
  tests/unit/task/cleanup/test_resources.py
  tests/unit/task/contexts/senlin/__init__.py
  tests/unit/task/contexts/senlin/test_profiles.py
  tests/unit/task/scenarios/senlin/__init__.py
  tests/unit/task/scenarios/senlin/test_clusters.py
  tests/unit/task/scenarios/senlin/test_utils.py
  upper-constraints.txt
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Use setuptools_scm instead of pbr and implement pep-517
  CHANGELOG.rst
  devstack/lib/rally
  pyproject.toml
  rally_openstack/__init__.py
  requirements.txt
  setup.cfg
  setup.py
  tox.ini
Due: none

Fix restoring quotas bug while rally cleanup
  CHANGELOG.rst
  rally_openstack/task/contexts/quotas/quotas.py
  tests/unit/task/contexts/quotas/test_quotas.py
Due: none

Allow cover violation
  tests/ci/cover.sh
Due: none

Use messaging v2 API
  CHANGELOG.rst
  rally_openstack/common/osclients.py
  tests/unit/common/test_osclients.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Remove monasca support
  .zuul.d/rally-task-monasca.yaml
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  etc/rally/rally.conf.sample
  rally-jobs/monasca.yaml
  rally_openstack/common/cfg/monasca.py
  rally_openstack/common/cfg/opts.py
  rally_openstack/common/consts.py
  rally_openstack/common/osclients.py
  rally_openstack/task/contexts/monasca/__init__.py
  rally_openstack/task/contexts/monasca/metrics.py
  rally_openstack/task/scenarios/authenticate/authenticate.py
  rally_openstack/task/scenarios/monasca/__init__.py
  rally_openstack/task/scenarios/monasca/metrics.py
  rally_openstack/task/scenarios/monasca/utils.py
  requirements.txt
  samples/tasks/contexts/monasca-metrics.json
  samples/tasks/contexts/monasca-metrics.yaml
  samples/tasks/scenarios/authenticate/token-validate-monasca.json
  samples/tasks/scenarios/authenticate/token-validate-monasca.yaml
  samples/tasks/scenarios/monasca/list-metrics.json
  samples/tasks/scenarios/monasca/list-metrics.yaml
  tests/ci/playbooks/roles/list-os-resources/library/osresources.py
  tests/unit/common/test_osclients.py
  tests/unit/fakes.py
  tests/unit/task/contexts/monasca/__init__.py
  tests/unit/task/contexts/monasca/test_metrics.py
  tests/unit/task/scenarios/authenticate/test_authenticate.py
  tests/unit/task/scenarios/monasca/__init__.py
  tests/unit/task/scenarios/monasca/test_metrics.py
  tests/unit/task/scenarios/monasca/test_utils.py
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Update requirements
  .zuul.d/zuul.yaml
  CHANGELOG.rst
  Dockerfile
  pyproject.toml
  requirements.txt
  test-requirements.txt
  tests/ci/sync_requirements.py
  tests/unit/test_workarounds.py
  tox.ini
  upper-constraints.txt
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk

Base mypy support
  .zuul.d/zuul.yaml
  pyproject.toml
  rally_openstack/__init__.py
  rally_openstack/common/osclients.py
  rally_openstack/common/services/identity/keystone_common.py
  rally_openstack/common/services/image/glance_common.py
  rally_openstack/common/services/storage/cinder_common.py
  rally_openstack/environment/platforms/existing.py
  rally_openstack/task/cleanup/base.py
  rally_openstack/task/cleanup/manager.py
  rally_openstack/task/cleanup/resources.py
  rally_openstack/task/contexts/api_versions.py
  rally_openstack/task/contexts/glance/images.py
  rally_openstack/task/contexts/keystone/users.py
  rally_openstack/task/contexts/network/allow_ssh.py
  rally_openstack/task/contexts/network/networks.py
  rally_openstack/task/contexts/neutron/lbaas.py
  rally_openstack/task/contexts/quotas/quotas.py
  rally_openstack/task/hooks/fault_injection.py
  tests/hacking/checks.py
  tests/unit/test_hacking.py
  tox.ini
  types-requirements.txt
Due: rally-task-barbican, rally-task-designate, rally-task-magnum, rally-task-neutron-trunk
